In [58]:
import pandas as pd
from collections import Counter
#count letters function:

def count_letters(s):
    s = s.lower().strip()
    counts = Counter(s)

    for character, count in counts.most_common():
        print(character, count)

In [59]:
count_letters('GoodluckintheFacebookHackerCupthisyear')

o 4
c 4
e 4
k 3
h 3
a 3
u 2
i 2
t 2
r 2
g 1
d 1
l 1
n 1
f 1
b 1
p 1
s 1
y 1

In [51]:
df = pd.DataFrame(columns = 'a b c d e f g h i j k l m n o p q r s t u v w x y z'.split(' '))

In [52]:
df. head()

Empty DataFrame
Columns: [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z]
Index: []

[0 rows x 26 columns]

In [55]:
def columns(s):
        for column in df.columns:
                s = s.lower().strip()
                counts = Counter(s)

                for character, count in counts.most_common():
                    return character, count
                    if character == str(df['character']):
                        df['letter'] = count

In [56]:
columns('AAbbccc')

('c', 3)

In [57]:
df.head()

Empty DataFrame
Columns: [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z]
Index: []

[0 rows x 26 columns]